<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, officia, quidem, provident reprehenderit nostrum iusto labore eos eius quis ad magnam voluptas illo dolores debitis sapiente repellat porro! Iste, at.</p>
</div>